/* Main content area styling */
.main-content {
	padding: 20px;
	/* margin-left: var(--sidebar-width); */
	transition: margin-left 0.3s ease-in-out;
	min-height: calc(100vh - 56px);
	/* Subtract navbar height */
}

.dashboard-container.sidebar-open .main-content {
	margin-left: 0;
}

@media (max-width: 1199.98px) {
	.main-content {
		margin-left: 0;
	}
}
