.card {
	border-radius: 20px !important;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none !important;
}
.chart {
	background: #f7f9fb !important;
}
.chart .Dart {
	background-color: #ffffff0d !important;
	transition: transform 0.3s ease-in-out;
}
.card.Dart {
	background-color: #ffffff0d !important;
	transition: transform 0.3s ease-in-out;
}

.pie {
	display: grid;
	column-gap: 50px !important;
	grid-template-columns: 70% 30% !important;
	margin-top: 20px;
}
.pie .Dark {
	background-color: #ffffff0d !important;
	color: white !important;
	transition: transform 0.3s ease-in-out;
}

.stack {
	display: grid;
	column-gap: 50px !important;
	grid-template-columns: 50% 50% !important;
	margin-top: 20px;
}

.pie ul .direct::marker {
	color: #000000;
}

.pie ul .Affilliate::marker {
	color: #95a4fc;
}

.pie ul .Sponsored::marker {
	color: #b1e3ff;
}

.pie ul .email::marker {
	color: #baedbd;
}

@media only screen and (max-width: 1024px) {
	.pie {
		display: block;
		margin-left: auto;
		margin-right: auto;
		grid-template-columns: 1fr !important; /* single column */
	}
	.chart {
		height: 100% !important;
		width: 100%;
	}
	.stack {
		grid-template-columns: 1fr !important; /* single column */
	}
}
